<h1>Genre List</h1>
<% if (genres.length) { %> 
    <ul>
    <% genres.forEach(genre => { %> 
        <li>
            <!-- <a href=/catalog<%= genre.url %>> <%= genre.name %></a> -->
            <a href=/catalog/genre/<%= genre.id %>> <%= genre.name %></a>
        </li>
    <% }); %> 
    </ul>
<% } else { %> 
    NO Genres!
<% } %>
