<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- ... rest of head ... -->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <!-- Sidebar content ... -->
        </div>
        <div class="col-sm-10">
          <!-- Main content -->
          <%- body %>
        </div>
      </div>
    </div>
  </body>
</html>
